{
  "appen_job": 1729469,
  "num_stimuli": 107,
  "stimulus_width": 1280,
  "stimulus_height": 720,
  "allowed_min_time": 300,
  "mask_id": 10000000,
  "files_heroku": ["heroku_1.json"],
  "file_appen": "appen.csv",
  "file_cheaters": "/_output/cheaters.csv",
  "path_stimuli": "/public/img/stimuli",
  "mapping_stimuli": "/public/img/stimuli/mapping.csv"
}