{
  "appen_job": 1729469,
  "num_stimuli": 86,
  "num_repeat": 1,
  "allowed_min_time": 300,
  "mask_id": 10000000,
  "files_heroku": ["heroku_1.json"],
  "file_appen": "appen.csv",
  "file_cheaters": "/_output/cheaters.csv",
  "path_stimuli": "/public/video/stimuli",
  "mapping_stimuli": "/public/video/stimuli/mapping.csv",
  "plotly_template": "plotly_dark"
}