{
  "appen_job": 1729469,
  "allowed_min_time": 300,
  "num_stimuli": 86,
  "num_stimuli_participant": 35,
  "num_repeat": 1,
  "kp_resolution": 100,
  "allowed_stimuli_wrong_duration": 0.75,
  "allowed_mistakes_signs": 2,
  "mask_id": 10000000,
  "signs_answers": ["The maximum allowed speed is 100 miles/hour", "Traffic only goes in one direction", "Pedestrian crossing area", "You have to stop and give way to all traffic"],
  "files_heroku": ["heroku_1.json"],
  "file_appen": "appen.csv",
  "file_cheaters": "/_output/cheaters.csv",
  "path_stimuli": "/public/video/stimuli",
  "mapping_stimuli": "/public/video/stimuli/mapping.csv",
  "plotly_template": "plotly_dark"
}